body{
    background-image: url('https://cdn.pixabay.com/photo/2014/04/03/21/23/monitor-313011__340.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    text-align: center;
    /* background-color: aqua; */
    font-size : 100px;
}

ul{
    
    color: black;
    text-align: center;
    font-size: x-large;
    list-style: none;
    
}
a{
    color: black;
}
